<div class="flex justify-center items-center min-h-screen">
	<div class="absolute top-4 left-4 right-0">
		<button mat-icon-button (click)="goHome()">
			<mat-icon fontIcon="fa-arrow-left" fontSet="fal"></mat-icon>
		</button>
	</div>
	<div class="justify-center justify-items-center">
		<h2 class="text-purple-500 text-3xl font-bold text-center mb-4">Forgot Password</h2>
		<div class="px-6 w-full text-center flex justify-center items-center">
			<form [formGroup]="passwordForm" (ngSubmit)="submitPForm()">
				<input
					lema-input
					formControlName="email"
					type="email"
					name="email"
					id="email"
					placeholder="john.doe@lema.com"
					required
				/>
				<div class="flex justify-center justify-items-center">
					<button lema-button [disabled]="!passwordForm.valid" type="submit">Reset Password</button>
				</div>
			</form>
		</div>
	</div>
</div>
<lema-alert></lema-alert>
