<div class="w-3/4 absolute bottom-6 mr-auto ml-auto left-0 right-0 flex justify-center" *ngFor="let alert of alerts">
	<div class="{{cssBase(alert)}}">
		<div class="flex items-center mr-4">
			<div class="{{cssBorder(alert)}}"></div>
			<div class="{{cssIconBG(alert)}}">
				<mat-icon class="{{cssIcon(alert)}}" [fontIcon]="icon" [fontSet]="set"></mat-icon>
			</div>
		</div>
		<div>
			<h3 class="font-bold text-black-800 dark:text-white-800" [innerText]="alert.headerMessage"></h3>
			<p class="text-black-500 dark:text-white-500" [innerText]="alert.message"></p>
		</div>
		<div class="ml-6">
			<button mat-icon-button (click)="removeAlert(alert)">
				<mat-icon fontIcon="fa-times" fontSet="fal"></mat-icon>
			</button>
		</div>
	</div>
</div>
