$lema-blue: (
	100: #d8e6ff,
	200: #c4daff,
	300: #9dc2ff,
	400: #76a9ff,
	500: #4f91ff,
	600: #2979ff,
	700: #2264d1,
	800: #1b4ea3,
	900: #133774,
	contrast: (
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
	),
);

$lema-green: (
	100: #dceddd,
	200: #cbe5cc,
	300: #a9d3ab,
	400: #87c289,
	500: #65b168,
	600: #43a047,
	700: #37833b,
	800: #2b662e,
	900: #1f4921,
	contrast: (
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
	),
);

$lema-purple: (
	100: #c6c8dc,
	200: #a2a4c4,
	300: #7f81ab,
	400: #66669a,
	500: #4f4c8a,
	600: #494581,
	700: #403b76,
	800: #393269,
	900: #2b2156,
	contrast: (
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
	),
);

$lema-red: (
	100: #fddcda,
	200: #fccbc8,
	300: #faa9a3,
	400: #f8877f,
	500: #f6655a,
	600: #f44336,
	700: #c8372d,
	800: #9c2b23,
	900: #6f1f19,
	contrast: (
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
	),
);

$lema-yellow: (
	100: #fff1da,
	200: #ffeac1,
	300: #ffdc99,
	400: #ffcf70,
	500: #ffc147,
	600: #ffb41f,
	700: #d1941a,
	800: #a37314,
	900: #74520f,
	contrast: (
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #000000,
		900: #ffffff,
	),
);
